<main>
    {{!-- Formulário --}}
        {{!-- Mensagens --}}
            {{>mensagens}}

    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">

                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <input type="text"   name="nome" class="form-control" placeholder="Nome do produto">
                    <input type="number" name="valor" class="form-control" placeholder="Valor do produto">

                    {{!-- Menu de categoria --}}
                    <select name="categoria" id="select_cat" class="form-control">
                    <option id="select_cat" value="">Selecione a categoria do produto</option>
                    <option id="select_cat" value="alimenticio">Alimentício</option>
                    <option id="select_cat" value="eletronico">Eletrônico</option>
                    <option id="select_cat" value="vestuario">Vestuário</option>
                    </select>
                    {{!-- <select name="categoria" class="form-control">
                        <option value="">Categoria do produto</option>
                        <option value="alimenticio">Alimentício</option>
                        <option value="eletronico">Eletrônico</option>
                        <option value="vestuario">Vestuário</option>
                    </select> --}}
                    
                    <input type="file"   name="imagem" class="form-control" >
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>

    {{!-- Listagem de produtos --}}
    <div class="container">
        <div class="row">
            {{#each produto}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="../imagens/{{imagem}}">
                        <div class="textos">
                            <p>{{nome}}</p>
                            <p>R${{valor}}</p>
                        </div>
                        <a href="/formularioEditar/{{codigo}}" class="btn btn-warning">Alterar</a>
                        <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger">Remover</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    {{!-- {{>footer}} --}}
</main>
